<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HXC" content="汽车">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="../static/img/lg.ico" rel="shortcut icon">
    <title>首页</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header_footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.min.css">
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";user-select:none;}

    </style>

</head>
<body>
	<!--导航-->
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse"
	                data-target="#example-navbar-collapse">
	            <span class="sr-only">切换导航</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#"><img src="../static/img/flogo.png"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="example-navbar-collapse">
	        <ul class="nav navbar-nav">
	            <li><a href="index.html"  class="hover">首页</a></li>
	            <li><a href="product.html">产品展示</a></li>
	            <li><a href="news.html">最新动态</a></li>
	            <li><a href="about.html">关于我们</a></li>
	            <li><a href="join.html">加盟我们</a></li>
	        </ul>
	    </div>
	    </div>
	</nav>





	
	<!--banner-->
	<div id="myCarousel" class="carousel slide">
		
	<div class="carousel-inner">
		<div class="font">
			<span>只有我们的水果能够让你尝到</span>
			<span>大自然成熟的味道</span>
			<span>Only our fruit can let you tasteThe taste of mature nature</span>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn" style="background-color: #ffa200;position: absolute;top: 110%;left: 45%;">了解一下</button>
		</div>
		<div class="item active">
			<div class="banner">
			<img src="../static/img/banner1.jpg" alt="First slide">
			</div>
		</div>
		
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<div class="img">
					<img src="../static/img/icon_car.png" />
				</div>
				<p>快速配送</p>
				<p>超快物流配送，省内36小时内到达，成都本地12小时内配送到家</p>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="img">
					<img src="../static/img/icon_hand.png" />
				</div>
				<p>5星好评</p>
				<p>每个月共完成3000单销售业绩，客户的5星好评率在98%以上。</p>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="img">
					<img src="../static/img/icon_fruit.png" />
				</div>
				<p>新鲜营养</p>
				<p>纯天然种植基地，季节性水果，非转基因，做到真正的新鲜营养。</p>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="img">
					<img src="../static/img/icon_gift.png" />
				</div>
				<p>价格优惠</p>
				<p>多买多送，首单8折，每单满一百减免邮费，真正的物美价廉。</p>
			</div>
		
		</div>
	</div>
	
	<div class="container banner2">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="box">
					<div class="bg-color"></div>
					<img src="../static/img/banner2.jpg" />
					<h3>富含维生素C的石榴<br>丰富你的味蕾的同时 营养你的身体</h3>
				</div>                                                                                                                                                                      
				</div>
			<div class="col-xs-12 col-sm-6">
				<div class="box">
					<div class="bg-color"></div>
					<img src="../static/img/banner3.jpg" />
					<h3>多汁的果肉挑逗你的嘴<br>丰富你的味蕾的同时 营养你的身体</h3>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container tuijian">
		<div class="row">
			<h4>我们的推荐</h4>
			<div class="hr"></div>
			<div class="col-xs-12 col-sm-4">
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<img src="../static/img/pro_lemon.png" />
						<a href="">轻酸味蕾柠檬</a>
						<span>￥5.00</span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<img src="../static/img/pro_putao.png" />
						<a href="">丰甜多汁西域红提</a>
						<span>￥9.00</span>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="probox">
					<img src="../static/img/pro_mym.png" /style="    margin: 18px auto;">
					<a href="">酸甜蔓越莓</a>
					<span>￥12.00</span>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="probox">
					<img src="../static/img/pro_juice.png" / style="margin: 70px auto;">
					<a href="">新鲜营养健康果汁</a>
					<span>￥9.00</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mbox">
		<div class="container">
			<div class="row">
				<h4>我们的秘密</h4>
				<div class="hr"></div>
				<div class="col-xs-12 col-sm-4">
					<img src="../static/img/banner5.jpg" />
				</div>
				<div class="col-xs-12 col-sm-8">
					<p>xxxx有限公司成立于2006年，创始人xxx在90年代开展水果贸易过程中，发现水果行业整个供应链上价值损耗浪费巨大，特别是中国是世界水果产量大国，但水果附加价值很低。在全球范围内，还没有企业整合资源发展水果专营连锁业态，感觉有发展空间和价值挖掘潜力。</p>
					<p>于是2006年创办了真正意义上的水果专营店，然后发展连锁事业---开启了水果专营连锁世界先河。用毕生精力致力于水果产业链和水果专营连锁业态的发展，为消费者提供更好吃的水果。</p>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn" style="width: 90px;height: 40px;background-color: #ffa200;font-size: 16px;margin: 17px auto;">更多</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="container fruit">
		<div class="row">
			<h4>我们的水果</h4>
			<div class="hr"></div>
			<div class="col-xs-12 col-sm-3">
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<div class="img">
						<img src="../static/img/pro1.png" />
						</div>
						<a href="">轻酸味蕾柠檬</a>
						<p>果肉红色，质细韧</p>
						<span>￥5.00</span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<div class="img">
						<img src="../static/img/pro5.png" />
						</div>
						<a href="">丰甜多汁西域红提</a>
						<p>果肉红色，质细韧</p>
						<span>￥9.00</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<div class="img">
						<img src="../static/img/pro2.png" />
						</div>
						<a href="">轻酸味蕾柠檬</a>
						<p>果肉红色，质细韧</p>
						<span>￥5.00</span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<div class="img">
						<img src="../static/img/pro6.png" />
						</div>
						<a href="">轻酸味蕾柠檬</a>
						<p>果肉红色，质细韧</p>
						<span>￥5.00</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<div class="img">
						<img src="../static/img/pro3.png" />
						</div>
						<a href="">轻酸味蕾柠檬</a>
						<p>果肉红色，质细韧</p>
						<span>￥5.00</span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<div class="img">
						<img src="../static/img/pro7.png" />
						</div>
						<a href="">丰甜多汁西域红提</a>
						<p>果肉红色，质细韧</p>
						<span>￥9.00</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<div class="img">
						<img src="../static/img/pro4.png" />
						</div>
						<a href="">轻酸味蕾柠檬</a>
						<p>果肉红色，质细韧</p>
						<span>￥5.00</span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-12">
					<div class="probox">
						<div class="img">
						<img src="../static/img/pro8.png" />
						</div>
						<a href="">丰甜多汁西域红提</a>
						<p>果肉红色，质细韧</p>
						<span>￥9.00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container kehu">
		<div class="row">
			<h4>我们的客户说</h4>
			<div class="hr"></div>
			<p>“超越客户期望值的高水平服务。”</p>
			<p>线上线下的表现都不错，可以精确地找到我们的客户群体并实现有效互动，以达到我们晒场所需要的效果，是值得长期合作的伙伴。” </p>
			<p>最诚信的行业媒体平台，最及时的专业信息报道，最优质的客户服务态度</p>
			<p>行业翘楚，服务最好，没有之一！</p>
		</div>
	</div>

	<div class="container news">
		<div class="row">
			<h4>我们的资讯</h4>
			<div class="hr"></div>
			<div class="col-xs-12 col-sm-4">
				<div class="newimg">
					<img src="../static/img/news1.jpg" />
					<div class="newcolor"></div>
					<i class="fa fa-link fa-lg"></i>
				</div>
				<div class="down">
					<h5>水果小吃节<b> Fruit snacks festival</b></h5>
					<div class="orange"></div>
					<p>所有好吃的水果，都汇聚在水果小吃节这一天可以全部吃到，这是由XXX公司举办的水果节 . . .</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="newimg">
					<img src="../static/img/news2.jpg" />
					<div class="newcolor"></div>
					<i class="fa fa-link fa-lg"></i>
				</div>
				<div class="down">
					<h5>水果小吃节<b> Fruit snacks festival</b></h5>
					<div class="orange"></div>
					<p>所有好吃的水果，都汇聚在水果小吃节这一天可以全部吃到，这是由XXX公司举办的水果节 . . .</p>
				</div>
			</div> 
			<div class="col-xs-12 col-sm-4">
				<div class="newimg">
					<img src="../static/img/news3.jpg" />
					<div class="newcolor"></div>
					<i class="fa fa-link fa-lg"></i>
				</div>
				<div class="down">
					<h5>水果小吃节<b> Fruit snacks festival</b></h5>
					<div class="orange"></div>
					<p>所有好吃的水果，都汇聚在水果小吃节这一天可以全部吃到，这是由XXX公司举办的水果节 . . .</p>
				</div>
			</div>
		
		</div>
	</div>

	<!--页脚-->
    <div class="big hidden-xs">
    <div class="container footer">
    	<div class="row" style="padding-top: 70px;padding-bottom: 20px;">
    		<div class="col-md-3">
    			<span>关于产品<i>about color</i></span>    			
    			<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于退货<i>about change</i></span>
				<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于产品<i>about product</i></span>
				<a>本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<span>扫码关注<i>author</i></span>
    			<img src="../static/img/author.png" class="img" />
				<a>多多关注</a>
    		</div>
    	</div>
    </div>
   	</div>
   
    <footer>
    	Copyright © 2010-2015花语文化传播有限公司 All rights reserved
    </footer>
</div>
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/material.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>