<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HXC" content="灯具">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="../static/img/lg.ico" rel="shortcut icon">
    <title>商城资讯</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header_footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/news.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.min.css">
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";user-select:none;}

    </style>

</head>
<body>
	<!--导航-->
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse"
	                data-target="#example-navbar-collapse">
	            <span class="sr-only">切换导航</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#"><img src="../static/img/logo.png"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="example-navbar-collapse">
	        <ul class="nav navbar-nav">
	            <li class="hover"><a href="index.html">首页</a></li>
	            <li><a href="shop.html">在线商城</a></li>
	            <li><a href="team.html">工作团队</a></li>
	            <li><a href="news.html" class="hover">新闻资讯</a></li>
	            <li><a href="story.html">品牌故事</a></li>
	        </ul>
	    </div>
	    </div>
	    <ul class="icon">
	    	<li><i class="fa fa-search fa-lg"></i></li>
	    	<li><i class="fa fa-user fa-lg"></i></li>
	    	<li><i class="fa fa-shopping-cart fa-lg"></i></li>
	    </ul>
	</nav>
	<div class="container news">
		<div class="row">
			<h1>商城简讯</h1>
			<h3>information</h3>
			
					<div class="box">
					<div class="col-xs-12 col-sm-4">
						<div class="img"><img src="../static/img/news1.jpg"> </div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<a href="">酒店餐厅过道灯设计细节处理</a>
						<div class="hr"></div>
						<span>发布日期：2017-05-23</span>
						<p>从一九四七年巴黎蒙田大街30号New Look的展出开始，Dior就成为高级女装的代名词, 继承了法国高级女装的传统，始终保持华丽的设计路线，做工精细，迎合上流社会成熟女性的审美品味，象征着法国时装文化的最高精神。</p>
					</div>
					</div>
					<div class="box">
					<div class="col-xs-12 col-sm-4">
						<div class="img"><img src="../static/img/news2.jpg"> </div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<a href="">好灯具点亮生活 四大妙招教你选灯具</a>
						<div class="hr"></div>
						<span>发布日期：2017-05-23</span>
						<p>从一九四七年巴黎蒙田大街30号New Look的展出开始，Dior就成为高级女装的代名词, 继承了法国高级女装的传统，始终保持华丽的设计路线，做工精细，迎合上流社会成熟女性的审美品味，象征着法国时装文化的最高精神。</p>
					</div>
					</div>
					<div class="box">
					<div class="col-xs-12 col-sm-4">
						<div class="img"><img src="../static/img/news3.jpg"> </div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<a href="">酒店餐厅过道灯设计细节处理</a>
						<div class="hr"></div>
						<span>发布日期：2017-05-23</span>
						<p>从一九四七年巴黎蒙田大街30号New Look的展出开始，Dior就成为高级女装的代名词, 继承了法国高级女装的传统，始终保持华丽的设计路线，做工精细，迎合上流社会成熟女性的审美品味，象征着法国时装文化的最高精神。</p>
					</div>
					</div>
					<div class="box">
					<div class="col-xs-12 col-sm-4">
						<div class="img"><img src="../static/img/news4.jpg"> </div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<a href="">如何添加一条新的资讯</a>
						<div class="hr"></div>
						<span>发布日期：2017-05-23</span>
						<p>从一九四七年巴黎蒙田大街30号New Look的展出开始，Dior就成为高级女装的代名词, 继承了法国高级女装的传统，始终保持华丽的设计路线，做工精细，迎合上流社会成熟女性的审美品味，象征着法国时装文化的最高精神。</p>
					</div>
					</div>
					<div class="box">
					<div class="col-xs-12 col-sm-4">
						<div class="img"><img src="../static/img/news5.jpg"> </div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<a href="">如何更换首页视频？</a>
						<div class="hr"></div>
						<span>发布日期：2017-05-23</span>
						<p>从一九四七年巴黎蒙田大街30号New Look的展出开始，Dior就成为高级女装的代名词, 继承了法国高级女装的传统，始终保持华丽的设计路线，做工精细，迎合上流社会成熟女性的审美品味，象征着法国时装文化的最高精神。</p>
					</div>
					</div>
					<div class="box">
					<div class="col-xs-12 col-sm-4">
						<div class="img"><img src="../static/img/news6.jpg"> </div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<a href="">好灯具点亮生活 四大妙招教你选灯具</a>
						<div class="hr"></div>
						<span>发布日期：2017-05-23</span>
						<p>从一九四七年巴黎蒙田大街30号New Look的展出开始，Dior就成为高级女装的代名词, 继承了法国高级女装的传统，始终保持华丽的设计路线，做工精细，迎合上流社会成熟女性的审美品味，象征着法国时装文化的最高精神。</p>
					</div>
					</div>
					<div class="box">
					<div class="col-xs-12 col-sm-4">
						<div class="img"><img src="../static/img/news7.jpg"> </div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<a href="">如何添加新的产品分类？</a>
						<div class="hr"></div>
						<span>发布日期：2017-05-23</span>
						<p>从一九四七年巴黎蒙田大街30号New Look的展出开始，Dior就成为高级女装的代名词, 继承了法国高级女装的传统，始终保持华丽的设计路线，做工精细，迎合上流社会成熟女性的审美品味，象征着法国时装文化的最高精神。</p>
					</div>
					</div>
					<div class="box">
					<div class="col-xs-12 col-sm-4">
						<div class="img"><img src="../static/img/news8.jpg"> </div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<a href="">如何删除产品或资讯？</a>
						<div class="hr"></div>
						<span>发布日期：2017-05-23</span>
						<p>从一九四七年巴黎蒙田大街30号New Look的展出开始，Dior就成为高级女装的代名词, 继承了法国高级女装的传统，始终保持华丽的设计路线，做工精细，迎合上流社会成熟女性的审美品味，象征着法国时装文化的最高精神。</p>
					</div>
					</div>
					
				
				</div>
			</div>
		</div>
	</div>
    <!--页脚-->
    <div class="big hidden-xs">
    <div class="container footer">
    	<div class="row one">
    		<div class="col-md-3">
    			<span>Service</span>
    			<ul>
    				<li><a href="">消費者保障服务</a></li>
    				<li><a href="">七天无理由退款</a></li>
    				<li><a href="">假一赔三</a></li>
    			</ul>
    			
    		</div>
    		<div class="col-md-3">
    			<span>Online Payment</span>
    				<li><a href="">非质量问题谢绝退换，如有质量问题，本店承担运费调</a></li>   				
    		</div>
    		<div class="col-md-3">
    			<span>Service</span>
    			<a href="">本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<img src="../static/img/logo2.png" />
    		</div>
    	</div>
    	<div class="row" style="padding-top: 70px;padding-bottom: 20px;">
    		<div class="col-md-3">
    			<span>关于产品<i>about color</i></span>    			
    			<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于退货<i>about change</i></span>
				<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于产品<i>about product</i></span>
				<a>本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<span>扫码关注<i>author</i></span>
    			<img src="../static/img/author.png" class="img" />
				<a>多多关注</a>
    		</div>
    	</div>
    </div>
   	</div>
   
    <footer>
    	Copyright © 2010-2015花语文化传播有限公司 All rights reserved
    </footer>
    
    
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/material.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</body>
</html>