<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HXC" content="灯具">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="../static/img/lg.ico" rel="shortcut icon">
    <title>商城资讯</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header_footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/story.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.min.css">
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";user-select:none;}

    </style>

</head>
<body>
	<!--导航-->
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse"
	                data-target="#example-navbar-collapse">
	            <span class="sr-only">切换导航</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#"><img src="../static/img/logo.png"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="example-navbar-collapse">
	        <ul class="nav navbar-nav">
	            <li class="hover"><a href="index.html">首页</a></li>
	            <li><a href="shop.html">在线商城</a></li>
	            <li><a href="team.html">工作团队</a></li>
	            <li><a href="news.html">新闻资讯</a></li>
	            <li><a href="story.html" class="hover">品牌故事</a></li>
	        </ul>
	    </div>
	    </div>
	    <ul class="icon">
	    	<li><i class="fa fa-search fa-lg"></i></li>
	    	<li><i class="fa fa-user fa-lg"></i></li>
	    	<li><i class="fa fa-shopping-cart fa-lg"></i></li>
	    </ul>
	</nav>
	<div class="container story">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h1>品牌故事</h1>
				<h3>ABOUT US</h3>
				<p>飞利浦照明的系统使人们倍感舒适、提供高效又安全的环境。我们的照明系统能美化空间，改善环境。通过将传统光源灯具， LED 灯具与模拟或数字控制产品结合，随时随地为您带来所需的照明体验。</p>
				<p>在 LED 技术革命中，我们创新的照明系统会优先考虑提升能源效率和可持续性，降低运营成本等因素。我们专注于改善室内外环境的宜居性和实效性，提供从基础应用到各色动态照明灯具，帮助您提高品牌影响力、促进社会互动以及为社区注入活力</p>
				<p>飞利浦照明所拥有的照明技术和各种系统将使您的目标转化为高效的照明应用。您可以信赖我们，让我们了解您的目标，帮助您制定解决方案，确保根据您的照明需求为您提供高品质的照明服务。</p>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn" style="background: #000;width: 30%;height: 45px;    margin: 50px auto;display: block;">更多详情</button>
			</div>
			<div class="col-xs-12 col-sm-6">
				<img src="../static/img/storybanner.jpg" />
			</div>
			
			
					
				
				
		</div>
	</div>
    <!--页脚-->
    <div class="big hidden-xs">
    <div class="container footer">
    	<div class="row one">
    		<div class="col-md-3">
    			<span>Service</span>
    			<ul>
    				<li><a href="">消費者保障服务</a></li>
    				<li><a href="">七天无理由退款</a></li>
    				<li><a href="">假一赔三</a></li>
    			</ul>
    			
    		</div>
    		<div class="col-md-3">
    			<span>Online Payment</span>
    				<li><a href="">非质量问题谢绝退换，如有质量问题，本店承担运费调</a></li>   				
    		</div>
    		<div class="col-md-3">
    			<span>Service</span>
    			<a href="">本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<img src="../static/img/logo2.png" />
    		</div>
    	</div>
    	<div class="row" style="padding-top: 70px;padding-bottom: 20px;">
    		<div class="col-md-3">
    			<span>关于产品<i>about color</i></span>    			
    			<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于退货<i>about change</i></span>
				<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于产品<i>about product</i></span>
				<a>本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<span>扫码关注<i>author</i></span>
    			<img src="../static/img/author.png" class="img" />
				<a>多多关注</a>
    		</div>
    	</div>
    </div>
   	</div>
   
    <footer>
    	Copyright © 2010-2015花语文化传播有限公司 All rights reserved
    </footer>
    
    
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/material.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</body>
</html>