<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HXC" content="汽车">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="../static/img/lg.ico" rel="shortcut icon">
    <title>关于我们</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header_footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.min.css">
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";user-select:none;}

    </style>

</head>
<body>
	<!--导航-->
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse"
	                data-target="#example-navbar-collapse">
	            <span class="sr-only">切换导航</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#"><img src="../static/img/logo.png"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="example-navbar-collapse">
	        <ul class="nav navbar-nav">
	            <li class="hover"><a href="index.html">商店首页</a></li>
	            <li><a href="product.html">所有商品</a></li>
	            <li><a href="pay.html">支付方式</a></li>
	            <li><a href="about.html">关于花语</a></li>
	            <li><a href="dian.html">线下门店</a></li>
	        </ul>
	    </div>
	    </div>
	</nav>
	<div class="container banner">
		<div class="row">
			<img src="../static/img/pro_banner.jpg" />
		</div>
	</div>
	<div class="container js">
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<div class="box">
					<h4>品牌介绍</h4>
					<i>Brand Introduction</i>
				</div>
				<p>
					<span>关于花语</span>
					2013.1.4寓意“爱你一生一世”的世纪告白日，roseonly以爱之名创立。roseonly以“一生只爱一人”为理念，精选万里挑一的厄瓜多尔鲜花玫瑰，致力于打造爱情信物品牌。</p>
<p>品牌从成立开始便受到很多当红明星的青睐，章子怡、杨幂、刘诗诗、林志颖、李晨、李云迪、郑恺等上百位明星，都曾在重要的场合，送出或收到roseonly玫瑰。马思纯、王 子文、欧阳娜娜、超模何穗等、也纷纷在杂志时尚大片中选择roseonly作为时尚配饰。roseonly以不同的产品系列诠释玫瑰之传奇灵感，运用不同设计表达爱，无一不在诠释珍 爱的诺誓之重。</p>
<p><span>旗下产品</span>roseonly还推出玫瑰珠宝、星座经典、玫瑰熊、音乐球、香氛蜡烛等多种类产品线。形成了roseonly以玫瑰作为主灵感“打造完整爱礼系列”的概念。让人每当有重大时刻要表达 心中所想，roseonly都是唯一之选。直至今日，人们相信每逢roseonly出现，必有浪漫要发生，必有爱之誓言要表达。</p>

				<p>
					<span>roseonly鲜花玫瑰</span>

roseonly鲜花玫瑰，精选厄瓜多尔玫瑰为你见证挚爱。鲜花玫瑰分为『经典永续』、『恒久真爱』、『爱在满怀』等多线系列。种类缤纷绚烂：七彩许愿玫瑰神秘浪漫、经典朱 砂玫瑰隽永弥香、更有约定玫瑰与情动玫瑰。鲜花的馥郁，爱的浪漫，用尽玫瑰心语诉说每一份爱，roseonly把这世上娇艳的玫瑰带到你面前，为你见证此刻的爱与被爱。

<span>roseonly永生玫瑰</span>

roseonly将古老的永生花工艺引入国内，率先开创了永生花产品系列。永生玫瑰，只为定格一朵花开的永恒浪漫瞬间。制作工序精密而繁多，经历109道百年工艺精雕细琢，采 用古老制作工艺将鲜花恒久保存。并将永生玫瑰搭载更多浪漫表达元素，例如推出定制音乐玫瑰、永生玫瑰花盒等衍生产品。愿不会凋零的永生玫瑰，如爱情一样，永恒保鲜。

<span>roseonly玫瑰珠宝饰品</span>

roseonly潜心研发更多玫瑰珠宝饰品，于是roseonly珠宝饰品系列应运而生。roseonly玫瑰珠宝饰品的诞生，与其玫瑰标志密不可分。设计师感动于真爱誓言，从玫瑰中获取 灵感。玫瑰珠宝饰品皆由知名珠宝工匠师手工打造，经过反复淬炼悉心打磨，让珠宝玫瑰绽放在美丽的爱情世界里，永恒璀璨。怀揣像如诗人一般的唯美浪漫，执着于匠心精神 精心打磨，每一件珠宝饰品都心怀诗意又匠心独具，雕刻出无可复制的产品。</p>
				<p><span>玫瑰甄选</span>roseonly的玫瑰甄选自来厄瓜多尔的选择。在roseonly出现之前，厄瓜多尔玫瑰多集中出现在美国、德国等市场。在厄瓜多尔诞生的玫瑰，似乎得到了天地灵气独特的馈赠， 在这离天堂最近的地方，每朵玫瑰至少拥有30片花瓣，花枝粗长，花期长。 每枝玫瑰的采劼标准严格而苛刻，甄选万里挑一的玫瑰爱礼。对玫瑰的花苞，花枝茎长，花朵色泽颜色，都标有极高的要求，并进行多重筛选。而层层筛选，精选出优质浪漫的 花朵，经roseonly的严格筛选规定，而后才会被运往工厂加工。roseonly百里挑一的比例，以及苛刻的挑选制度，在厄瓜多尔玫瑰园，是园主们都所熟知的规则。精选自每一枝 玫瑰刚到来便具备的严整规格，成就高质要求。</p>
				
			</div>
			<div class="col-xs-12 col-md-3">
				<img src="../static/img/about1.jpg" />
				<img src="../static/img/about2.jpg" />
				<img src="../static/img/about3.jpg" />
			</div>
		</div>
	</div>
    	
    	
    	
    	
    	
    	
    	
    	
    <!--页脚-->
    <div class="big hidden-xs">
    <div class="container footer">
    	<div class="row one">
    		<div class="col-md-3">
    			<span>Service</span>
    			<ul>
    				<li><a href="">消費者保障服务</a></li>
    				<li><a href="">七天无理由退款</a></li>
    				<li><a href="">假一赔三</a></li>
    			</ul>
    			
    		</div>
    		<div class="col-md-3">
    			<span>Online Payment</span>
    				<li><a href="">非质量问题谢绝退换，如有质量问题，本店承担运费调</a></li>   				
    		</div>
    		<div class="col-md-3">
    			<span>Service</span>
    			<a href="">本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<img src="../static/img/logo.png" />
    		</div>
    	</div>
    	<div class="row" style="padding-top: 70px;padding-bottom: 20px;">
    		<div class="col-md-3">
    			<span>关于产品<i>about color</i></span>    			
    			<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于退货<i>about change</i></span>
				<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于产品<i>about product</i></span>
				<a>本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<span>扫码关注<i>author</i></span>
    			<img src="../static/img/author.png" class="img" />
				<a>多多关注</a>
    		</div>
    	</div>
    </div>
   	</div>
   
    <footer>
    	Copyright © 2010-2015花语文化传播有限公司 All rights reserved
    </footer>
    
    
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/material.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="../static/js/all.js" ></script>-->
  
</body>
</html>