<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HXC" content="汽车">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="../static/img/lg.ico" rel="shortcut icon">
    <title>产品中心</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header_footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/product.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.min.css">
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";user-select:none;}

    </style>

</head>
<body>
	<!--导航-->
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse"
	                data-target="#example-navbar-collapse">
	            <span class="sr-only">切换导航</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#"><img src="../static/img/logo.png"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="example-navbar-collapse">
	        <ul class="nav navbar-nav">
	            <li class="hover"><a href="index.html">商店首页</a></li>
	            <li><a href="product.html">所有商品</a></li>
	            <li><a href="pay.html">支付方式</a></li>
	            <li><a href="about.html">关于花语</a></li>
	            <li><a href="dian.html">线下门店</a></li>
	        </ul>
	    </div>
	    </div>
	</nav>
	<!--banner-->
	<div class="container banner">
		<div class="row">
			<img src="../static/img/pro_banner.jpg" class="wave" id="wave"/>
		</div>
	</div>
    <!--标题-->
    <div class="container title">
    	<div class="row">
    		<h1>所有商品</h1>
    		<span>浪漫花语，花为物语。回忆悠长。</span>
    		<span>如果你有需要，只要一个电话，我们会及时把美丽的鲜花送到你的手中。</span>
    		<span>爱上花语，爱上生活。</span>
    		<span>我们传递的不仅是一种商品，我们更加传递的是一种生活的艺术，鲜花让我们生活变得更加的美好，我们应该去感受鲜花的清香，享受生活的美好。</span>
    	
    	</div>
    </div>
    <!--产品-->
    <div class="container product">
    	<div class="row">
    		<div class="col-xs-6 col-md-3">
    			<img src="../static/img/pro1.jpg" />
    			<a>植物花卉003</a>
    			<i>￥5900</i>
    		</div>
    		<div class="col-xs-6 col-md-3">
    			<img src="../static/img/pro2.jpg" />
    			<a>植物花卉003</a>
    			<i>￥5900</i>
    		</div>
    		<div class="col-xs-6 col-md-3">
    			<img src="../static/img/pro3.jpg" />
    			<a>植物花卉003</a>
    			<i>￥5900</i>
    		</div>
    		<div class="col-xs-6 col-md-3">
    			<img src="../static/img/pro4.jpg" />
    			<a>植物花卉003</a>
    			<i>￥5900</i>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-xs-6 col-md-3">
    			<img src="../static/img/pro5.jpg" />
    			<a>植物花卉003</a>
    			<i>￥5900</i>
    		</div>
    		<div class="col-xs-6 col-md-3">
    			<img src="../static/img/pro6.jpg" />
    			<a>植物花卉003</a>
    			<i>￥5900</i>
    		</div>
    		<div class="col-xs-6 col-md-3">
    			<img src="../static/img/pro7.jpg" />
    			<a>植物花卉003</a>
    			<i>￥5900</i>
    		</div>
    		<div class="col-xs-6 col-md-3">
    			<img src="../static/img/pro8.jpg" />
    			<a>植物花卉003</a>
    			<i>￥5900</i>
    		</div>
    	</div>
    </div>
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    <!--页脚-->
    <div class="big hidden-xs">
    <div class="container footer">
    	<div class="row one">
    		<div class="col-md-3">
    			<span>Service</span>
    			<ul>
    				<li><a href="">消費者保障服务</a></li>
    				<li><a href="">七天无理由退款</a></li>
    				<li><a href="">假一赔三</a></li>
    			</ul>
    			
    		</div>
    		<div class="col-md-3">
    			<span>Online Payment</span>
    				<li><a href="">非质量问题谢绝退换，如有质量问题，本店承担运费调</a></li>   				
    		</div>
    		<div class="col-md-3">
    			<span>Service</span>
    			<a href="">本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<img src="../static/img/logo.png" />
    		</div>
    	</div>
    	<div class="row" style="padding-top: 70px;padding-bottom: 20px;">
    		<div class="col-md-3">
    			<span>关于产品<i>about color</i></span>    			
    			<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于退货<i>about change</i></span>
				<a>所有商品均为实物拍摄，各浏览器显示有所不同，对此要求高的买家慎拍</a>
    		</div>
    		<div class="col-md-3">
    			<span>关于产品<i>about product</i></span>
				<a>本店商品均为易碎品，非质量问题谢绝退换，如有质量问题，本店承担运费调换</a>
    		</div>
    		<div class="col-md-3">
    			<span>扫码关注<i>author</i></span>
    			<img src="../static/img/author.png" class="img" />
				<a>多多关注</a>
    		</div>
    	</div>
    </div>
   	</div>
   
    <footer>
    	Copyright © 2010-2015花语文化传播有限公司 All rights reserved
    </footer>
    
    
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/material.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="../static/js/all.js" ></script>-->
  
</body>
</html>