.container{padding: 3% 5%;}
.row .col-md-9{padding: 5% 7%;}
.row .col-md-9 span{display: inline-block;width: 100%;line-height: 30px;font-size: 14px;color: #A9A9A9;}
.message{width: 80%;display: table;margin-top: 40px;}
.message input{width: 49%;margin-right: 5px;line-height:40px;padding-left: 5px;margin-bottom: 20px;background: rgb(242, 242, 242);border: none;outline: none;}
.message .email{width:100%;}
.message textarea{padding-left: 5px;margin-bottom: 20px; background: rgb(242, 242, 242);border: none;outline: none;}
.message p{color: #696969;font-size: 13px;}

.box1{width: 100%;display: table;border: 1px solid #bbb;}
.box1 h4{text-align: center;color:#696969 ;font-size: 20px;}
.box1 span{width: 100%;display: inline-block;text-align: center;color:#696969 ;font-size: 15px;}
.box1 img{margin: 50px auto;display: table;}
.map{width:100%;}
.map iframe{width: 100%;}
